*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html{
    scroll-behavior: smooth; 
} */
h1,h2,h3{
    font-family: 'Anton', sans-serif;
}
p,a{
    font-family: 'Lato', sans-serif;
}
hr{
    border-top: dotted;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 6%;
    color: #c6c8c8;
    border-width: 7px;
    margin-inline: auto;
}
.nav a:hover{
    text-decoration: underline white;
    opacity: 0.8;
}
a:active{
    opacity: 1;
}
header{
    display: flex;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.65);
    z-index: 1;
    width: 100%;
    justify-content: center;
    font-weight: 100;
}
.nav{
    font-size: 13.5px;
    padding: 1rem 0rem; 
    opacity: 90%;
    display: flex;
    align-items: center;
}
.nav__link{
    text-decoration: none;
    color: white;
    padding-left: 3rem;
    text-transform: uppercase;
}
.section1{
    background-image: url('fine images/section1bg.png');
    position: relative;
}
.dattebayo{
    color: #EA9828;
    font-family: 'Anton', sans-serif;
    font-size: 10.625rem;
    padding-left: 3.875rem;
    padding-top: 26.5rem;
}
.section1 p{
    color: white;
    font-size: 1.5625rem;
    line-height: 30px;
    padding: 0em 16.25rem 9.6875rem 3.875rem;
    text-align: justify;
}
.japdattebayo{
    position: absolute;
    left: 896px;
    top: 218px;
}
/******************************************* Section 1 complete *********************************************/

.section2{
    background-image: url('Fine Images/Desktop\ -\ 5.svg');
    overflow: hidden;
    position: relative;
}
.redkonoha12{
    margin: 2.0625rem 0.5625rem 2.200625rem 71.625rem;
    width: 260px;
}
.konohagrid{
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    grid-template-rows: 311.15px 311.15px 311.15px;
    grid-gap: 10px;
    position: absolute;
    top: 110px;
    left: 110px;
}
.cardimg{
    width: 240px;
}
.cardlink{
    box-shadow: 0 0 20px -5px rgb(0, 0, 0, 0.90);
    border-radius: 6px;
}
.cardlink:hover{
    transform:scale(1.07) ;
    transition: ease 50ms;
    box-shadow: 0 0 60px -10px rgb(0, 0, 0, 0.90);
}
.cardlink:active{
    transform: scale(1.04);
    box-shadow: 0 0 40px -10px rgb(0, 0, 0, 0.90);
}

/******************************************* Section 2 complete *********************************************/

.section3{
    position: relative;
}
.section3 h1{
    font-size: 10.625rem;
    font-family: 'Anton', sans-serif;
    position: absolute;
    top: 130px;
    left: 134px;
}
.videos{
    width: 460px;
    height: 260px;
    position: absolute;
}
.naruto{
    left: 70px;
    top: 501px;
}
.sasuke{
    left: 777px;
    top: 485px;
}
.kakashi{
    left: 175px;
    top: 866px;
}
.jiraya{
    left: 710px;
    top: 866px;
}
.mightguy{
    left: 125px;
    top: 1307px;
}
.obito{
    left: 793px;
    top: 1213.5px;
}
.pain{
    left: 125px;
    top: 1724px;
}
.itachi{
    left:911px ;
    top: 1599px;
}

/******************************************* Section 3 complete *********************************************/

.section4{
    background-image: url('fine images/sharingan bg.svg');
    background-repeat: no-repeat;
    min-height: 60vh;
    position: relative;
    margin-top: -1rem;
}
.mangekyoudiv{
    position: absolute;
    top: 42.35%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mangekyou {
    background: #050505;
    width: 16em;
    height: 16em;
    position: relative;
    border: 5px #000 solid;
    animation: spin 5s ease-in-out infinite;
  }
  
  .mangekyou .point {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 11.3em;
    width: 11.3em;
    background: #e41414;
     animation: shine 5s ease-in-out infinite;
  }
  
  .mangekyou .point:nth-child(1) {
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
    transform: translate(-50%, -50%) rotate(-15deg);
  }
  
  .mangekyou .point:nth-child(2) {
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
     transform: translate(-50%, -50%) rotate(15deg);
  }
  
  .mangekyou .point:nth-child(3) {
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    transform: translate(-50%, -50%) rotate(-45deg);
  border: 3px #000 solid;
  }
  
  .mangekyou .point:nth-child(3)::before,
  .mangekyou .point:nth-child(3)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border: inherit;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  
  .mangekyou .point:nth-child(3)::before {
    transform: translate(-50%, -50%) rotate(-60deg);
  }
  
  .mangekyou .point:nth-child(3)::after {
    transform: translate(-50%, -50%) rotate(60deg);
  }
  .mangekyou, .circle{
      border-radius: 50%;
  }
  .circle {
    position: absolute;
    width: 1em;
    height: 1em;
    background: #000;
    z-index: 2;
  }
  .mangekyou .circle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.5em;
    height: 1.5em;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.6);
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
   
    100% {
      transform: rotate(720deg);
    }
  }

  .section4 h1{
      color: rgb(223, 223, 223);
      font-size: 2rem;
      position: Absolute ;
      top: 78%;
      left: 50%;
      transform: translate(-50%,-50%);
  }
  .socialsites{
      position: absolute;
      bottom: 20px;
      left: 70px;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

  }
  .socialsites a:hover{
      opacity: 0.5;
  }
  .socialsites a:active{
      opacity: 1;
  }
  .socialsites p{
      color: white;
  }
  
    




























































/*****************************************************  Naruto Card Page  ************************************************/


.cardsection1{
    background-image: url('fine images/naruto\ page\ section1\ bg.svg');
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    width: 450px;
}
.cardsection1 h1{
    color: #EA9828;
    font-family: 'Anton', sans-serif;
    font-size: 4.5rem;
}
.cardsection1 ul{
    color: white;
    font-family: 'Lato', sans-serif;
    line-height: 2;
    font-size: 1.2rem;
    padding-left: 1.2rem;
}
.cardsection2 h1{
    text-align: center;
    font-size: 6rem;
    margin: 3rem 0 0rem 0;
}
.cardsection2 p{
    width: 50%;
    margin-inline: auto;
    font-size: 1.17rem;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 5rem;
}
.cardsection3 h1{
    text-align: center;
    font-size: 6rem;
    margin: 3rem 0 0rem 0;
}
.cardsection3 p{
    width: 55%;
    margin-inline: auto;
    font-size: 1.17rem;
    text-align: justify;
    margin-bottom: 5rem;
    line-height: 1.5;
}
.cardsection4 h1{
    text-align: center;
    font-size: 6rem;
    margin: 3rem 0 0rem 0;
}
.cardsection4 p{
    width: 55%;
    margin-inline: auto;
    font-size: 1.17rem;
    text-align: justify;
    margin-bottom: 5rem;
    line-height: 1.5;
}
.youtubevid{
    display: flex;
    justify-content: space-evenly;
    padding: 8rem 5rem 3rem;
    margin-top: 5rem;
    background-image: url('Fine\ Images/section1bg.png');
    position: relative;
}
.youtubevid h2{
    position: absolute;
    color: white;
    top: 2.5rem;
    font-size: 2.5rem;
    text-decoration: underline;
}
.ytvid{
    border-radius: 10px;
}
/*****************************************************  Sasuke Card Page  ************************************************/

.sas{
    background-image: url('fine images/sasuke\ page\ section1\ bg.svg');
}
.sas h1{
    color: #8c7ea4;
}

/*****************************************************  Sakura Card Page  ************************************************/

.sak{
    background-image: url('fine images/sakura\ page\ section1\ bg.svg');
}
.sak h1{
    color: #90283e;
}

/*****************************************************  Shikamaru Card Page  ************************************************/

.shika{
    background-image: url('fine images/shikamaru\ page\ section1\ bg.svg');
}
.shika h1{
    color: #758b79;
}

/*****************************************************  Choji Card Page  ************************************************/

.choji{
    background-image: url('fine images/choji\ page\ section1\ bg.svg');
}
.choji h1{
    color: #8e2e3c;
}

/*****************************************************  Choji Card Page  ************************************************/

.ino{
    background-image: url('fine images/ino\ page\ section1\ bg.svg');
}
.ino h1{
    color: #684375;
}

/*****************************************************  ino Card Page  ************************************************/

.neji{
    background-image: url('fine images/neji\ page\ section1\ bg.svg');
}
.neji h1{
    color: #e9eef2;
}

/*****************************************************  neji Card Page  ************************************************/

.lee{
    background-image: url('fine images/lee\ page\ section1\ bg.svg');
}
.lee h1{
    color: #356359;
}

/*****************************************************  rocklee Card Page  ************************************************/

.tenten{
    background-image: url('fine images/tenten\ page\ section1\ bg.svg');
}
.tenten h1{
    color: #F5eae8;
}

/*****************************************************  tenten Card Page  ************************************************/

.kiba{
    background-image: url('fine images/kiba\ page\ section1\ bg.svg');
}
.kiba h1{
    color: #e2ded3;
}

/*****************************************************  kiba Card Page  ************************************************/

.shino{
    background-image: url('fine images/shino\ page\ section1\ bg.svg');
}
.shino h1{
    color: #969990;
}

/*****************************************************  shino Card Page  ************************************************/

.hinata{
    background-image: url('fine images/hinata\ page\ section1\ bg.svg');
}
.hinata h1{
    color: #b3a8b8;
}

/*****************************************************  hinata Card Page  ************************************************/

